$primaryColor: #2a37e8;
$primaryColorHover: #3446cd;
$secondaryColor: #f2f5f7;
$thirdColor: #222629;

$sm: 600px; //breakpoint for smaller devices
$smMd: 800px;
$md: 1000px;
$mdLg: 1200px;
$lg: 1800px; //desktop

@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: $sm) {
      @content;
    }
  } @else if $breakpoint == smMd {
    @media (max-width: $smMd) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: $md) {
      @content;
    }
  } @else if $breakpoint == mdLg {
    @media (max-width: $mdLg) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: $lg) {
      @content;
    }
  }
}

.ldashboard-contain {
  height: 100vh;
  display: flex;
  
  @include respond(mdLg) {
    min-height: 100vh;
    height: 100%;
    flex-direction: column;
  }

nav {
  width: 25%;
  height: 100%;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;

  background: $primaryColor;

  @include respond(mdLg) {
    display: none;
  }



}

.dashboard-content {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @include respond(mdLg) {
    width: 100%;
  }


  .top-dash {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;

      @include respond(mdLg) {
        margin-top: 20px;
      }
  
      .welcome {
        display: flex;
        color: $primaryColor;
        font-weight: bold;
      }

    img {
      width: 60px;
      height: 60px;
      border-radius: 50px;
      margin-left: 15px;

    }
  }
  .order-date {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;

    @include respond(mdLg) {
      margin-top: 20px;
      flex-direction: column;
    }

    ul {
      display: flex;
      justify-content: space-between;
      width: 50%;

      


      @include respond(mdLg) {
        justify-content: space-around;
        width: 90%;
        margin-bottom: 10px;

      }



     li {
      list-style: none;
     }
    }

    .dates {
      display: flex;
      justify-content: space-between;
      @include respond(mdLg) {
      }

      p {
        padding-left: 7px;
        padding-right: 7px;

      }
      
    }
  }
}

.bar-dash {
  width: 90%;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  border-radius: 5px;
  background: $secondaryColor;

  @include respond(mdLg) {
    margin-top: 20px;
    margin-bottom: 20px;

  }

  ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;

    li {
      list-style: none;
    }
  }
}

.mid-dash {
  margin: 0 auto;
  height: 70%;
  width: 90%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align:justify;
  z-index: 99999999999999999;
  

  @include respond(mdLg) {
    width: 95%;
    font-size: .9rem;
  }


  .user-content {
    width: 100%;
    height: 55px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 5px;

    @include respond(mdLg) {
      height: 70px;
      
    }
  

    li {
      list-style: none;
    }

    .name-pic {
      display: flex;
      width: 20%;
      justify-content: center;

      @include respond(mdLg) {
        width: 30%;
      }
    


      .user-pic {

        width: 20px;
        background: white;
        margin-right: 5px;
        z-index: -99999999;
      }

    }

    .user-addr {
      width: 30%;

      @include respond(mdLg) {
        display: none;
      }
    
    }

    .user-date {
      width: 25%;

      @include respond(mdLg) {
        width: 30%;
      }

    }

    .user-status {
      width: 20%;

      p {
        font-size: 1rem;

      }
      .pending {
        color: red;
        font-weight: bold;
        
      }


      @include respond(mdLg) {
        width: 20%;
      }

    }

    .user-action {
      width: 50px;
      height: 80%;
      align-items: center;
      display: flex;
      justify-content: space-around;
      position: relative;
      background: yellow;
      cursor: pointer;
      z-index: 99999999999999999999;
      @include respond(mdLg) {
        width: 20%;
        cursor: pointer;
        
      }


    }

.user-action.drop {
    .issue-dropdown {
      display: none;
    }
  }

    .issue-dropdown ul{

      position: absolute;
      right: 50px;
      bottom: -70px;
      height: 50px;
      width: 70px;
      padding: 10px;
      margin: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      background: $secondaryColor;
      color: $thirdColor;

      li:hover {
        color: $primaryColor;
        cursor: pointer;
      }
      
    }


  }

}
}



.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    display: block;
    border: none;
    background: $secondaryColor;
    border-radius: 5px;
    text-align: center;
    height: 100%;
}

.name {
  width: 20%;
}

.addr {
  width: 35%;
  @include respond(mdLg) {
    display: none;
  }

}

.date {
  width: 25%;

}

.status {
  width: 15%;
}

.action {
  width: 10%;
}

.mobile {
  display: none;

  @include respond(mdLg) {
    display: flex;
    width: 100%;
    height: 50px;
    background: $primaryColor;
    color: white;
    font-size: 1.9rem;
    align-items: center;
    justify-content: center;
  } 
  .navBar {
    cursor: pointer;
  }
}

.paginate {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  
}

.paginate a {
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
  border: 1px solid $thirdColor;
  color: $thirdColor;
  cursor: pointer;
  outline: none;
}

.paginate a:hover {
  color: white;
  background: $thirdColor;
}