h2 {
  font-size: 2rem;
}

.tdashboard-contain {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1200px) {
  .tdashboard-contain {
    min-height: 100vh;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.tdashboard-contain nav.nav-dash {
  width: 25%;
  height: 100%;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  background: #2a37e8;
}

@media (max-width: 1200px) {
  .tdashboard-contain nav.nav-dash {
    display: none;
  }
}

.tdashboard-contain .tdashboard-content {
  background: white;
  border-radius: 40px;
  width: 55%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1200px) {
  .tdashboard-contain .tdashboard-content {
    width: 100%;
  }
}

.tdashboard-contain .tdashboard-content h2 {
  padding-top: 50px;
  font-size: 1.5rem;
  margin-left: 30px;
}

.tdashboard-contain .tdashboard-content h2 span {
  color: #2a37e8;
  font-size: 1.3rem;
  padding-left: 5px;
}

.tdashboard-contain .tdashboard-content .top-content {
  width: 40%;
}

.tdashboard-contain .tdashboard-content .middle-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tdashboard-contain .tdashboard-content .middle-content .issues {
  width: 90%;
  height: 130px;
  border-radius: 10px;
  border: none;
  background: #f2f5f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.tdashboard-contain .tdashboard-content .middle-content .issues h3 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #2a37e8;
  width: 25%;
}

.tdashboard-contain .tdashboard-content .middle-content .issues form {
  height: 75%;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tdashboard-contain .tdashboard-content .middle-content .issues form textarea {
  height: 100%;
  width: 55%;
  border: none;
}

.tdashboard-contain .tdashboard-content .middle-content .issues form button {
  height: 40%;
  width: 10%;
  border: none;
  background: #2a37e8;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

.tdashboard-contain .tdashboard-content .middle-content .issues form button:hover {
  color: #2a37e8;
  background: white;
}

.tdashboard-contain .tdashboard-content .middle-content .issues form .anyPics {
  font-size: .9rem;
  position: absolute;
  top: 0;
  right: 10px;
  font-weight: bold;
  color: #2b2b61;
}

.tdashboard-contain .tdashboard-content .middle-content .issues .plane {
  font-size: 1rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.tdashboard-contain .tdashboard-content .middle-content .issues .plus-box {
  height: 20px;
  background: #2a37e8;
  color: white;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  padding: 8px;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.tdashboard-contain .tdashboard-content .middle-content .issues .plus-box p {
  font-size: .9rem;
}

.tdashboard-contain .tdashboard-content .middle-content .issues .plus-box:hover {
  background: #2a37e8;
}

.tdashboard-contain .tdashboard-content .middle-content .issues .plus-box-open {
  padding: 0;
  width: 30%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.tdashboard-contain .tdashboard-content .middle-content .issues .plus-box-open .box-pic {
  width: 60px;
}

.tdashboard-contain .notifications {
  width: 20%;
  height: 100vh;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  background: #f2f5f7;
}

@media (max-width: 1200px) {
  .tdashboard-contain .notifications {
    width: 90%;
    margin: 0 auto;
  }
}

.tdashboard-contain .notifications .top-notifications {
  margin: 0 auto;
  padding-top: 50px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10%;
  border-bottom: 1px solid #f2f5f7;
}

.tdashboard-contain .notifications .top-notifications .user-pic-holder {
  position: relative;
  cursor: pointer;
}

.tdashboard-contain .notifications .top-notifications .user-pic-holder .camera-pic {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #2b2b61;
}

.tdashboard-contain .notifications .top-notifications img {
  width: 61px;
  height: 61px;
  border-radius: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.tdashboard-contain .notifications .top-notifications p {
  color: #2b2b61;
  font-weight: bold;
}

.tdashboard-contain .notifications .bottom-notifications {
  margin: 0 auto;
  width: 90%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tdashboard-contain .notifications .bottom-notifications h4 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 1.7rem;
  color: #2b2b61;
}

.tdashboard-contain .notifications .bottom-notifications .issue-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #2b2b61;
}

.tdashboard-contain .notifications .bottom-notifications .issue-content ul {
  padding: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.tdashboard-contain .notifications .bottom-notifications .issue-content ul li {
  list-style: none;
}

.tdashboard-contain .notifications .bottom-notifications .issue-content ul .issue-menu {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tdashboard-contain .notifications .bottom-notifications .issue-content ul .issue-menu .list-count {
  font-weight: bold;
}

.tdashboard-contain .notifications .bottom-notifications .issue-content ul .issue-menu .arrowDown {
  cursor: pointer;
}

.issue-item {
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

.issue-item .temp-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.issue-item .item-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.issue-item .item-list-container {
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.issue-item .item-list-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.issue-item .item-list-container ul li.status {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-weight: bold;
}

.issue-item .item-list-container ul li.body {
  line-height: 25px;
  font-size: .9rem;
}

.issue-item .item-list-container ul li.item-date {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: .9rem;
}

.issue-item .item-list-container ul li .pending {
  color: red;
}

.issue-item .item-list-container ul li .recieved {
  color: yellow;
}

.issue-item .item-list-container ul li .completed {
  color: green;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  border: none;
  background: #f2f5f7;
  border-radius: 5px;
  text-align: center;
  height: 100%;
}

.mobile {
  display: none;
}

@media (max-width: 1200px) {
  .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 50px;
    background: #2a37e8;
    color: white;
    font-size: 1.9rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.mobile .navBar {
  cursor: pointer;
}

label {
  background-color: indigo;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}
/*# sourceMappingURL=TDashboard.css.map */